@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  box-sizing: border-box;
}
body {
  background-image: url("./Img/Login.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

#App,
#root,
.auth-wrapper {
  background-size: 100%;
  background-repeat: no-repeat;
}
h3 {
  text-align: center;
}
.sign-up-auth-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.sign-up-auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.add-auth-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.add-auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}
.auth-wrapper {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 10px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.login-button {
  margin-top: 25px !important;
}

.add-form {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 30%;
}

.add-button {
  margin-top: 25px !important;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 20vh;
  margin: 25px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-top: 12px;
  padding-inline-start: 5px;
}

.nav-list {
  list-style: none;
  display: flex;
  font-weight: bolder;
}

.nav-list-item {
  justify-content: space-between;
  margin: auto;
}

.nav-list-item:hover {
  cursor: pointer;
  background-color: rgb(131, 131, 247);
  border-radius: 10%;
}

.car-container {
  height: 100%;
  width: 100%;
}

.welcome-message {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
}
